@model BL.DTO.TestTemplateDTO
@{
	ViewBag.Title = "Create New Test Template";

}

<h2>Create New TestTemplate</h2>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div>
		@Html.LabelFor(model => model.Name)
		@Html.EditorFor(model => model.Name)
		@Html.ValidationMessageFor(model => model.Name)
	</div>

	<div>
		@Html.LabelFor(model => model.Date)
		@Html.EditorFor(model => model.Date)
		@Html.ValidationMessageFor(model => model.Date)
	</div>

	<div>
		@Html.LabelFor(model => model.CompletionTime)
		@Html.EditorFor(model => model.CompletionTime)
		@Html.ValidationMessageFor(model => model.CompletionTime)
	</div>

	<div>
		@Html.LabelFor(model => model.NumOfQuestions)
		@Html.EditorFor(model => model.NumOfQuestions)
		@Html.ValidationMessageFor(model => model.NumOfQuestions)
	</div>

	<input type="submit" value="Add Thematic Areas" class="btn btn-default"/>
	@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })


}