@model IEnumerable<BL.DTO.TestTemplateDTO>

@{
	ViewBag.Title = "All Available Tests";
}
<h2>All Available Tests</h2>
@if (User.IsInRole("admin"))
{
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
}
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Date)
			
		</th>
		
		<th>
			@Html.DisplayNameFor(model => model.CompletionTime)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NumOfQuestions)
		</th>
		@if (User.IsInRole("admin"))
		{
			<th>

				Thematic Area Count
			</th>
			<th>
				Student Group Count
			</th>
		}
		
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CompletionTime)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NumOfQuestions)
			</td>
			@if (User.IsInRole("admin"))
			{
			<td>
				@Html.DisplayFor(modelItem => item.ThematicAreas.Count)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StudentGroups.Count)
			</td>

			<td>
				@Html.ActionLink("Edit", "Edit", new {id = item.Id})
			</td>
			<td>
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>

			}
			<td>
				@Html.ActionLink("TakeExam", "TakeTest", new { id = item.Id })
			</td>
				
			
		</tr>
	}

</table>