@model Web.Models.TestActiveModel
@{
	ViewBag.Title = Model.Test.Name;
}


	<h1>
		@Html.ViewData.Model.Test.Name
	</h1>

<table class="table table-hover table-striped">
	<tr>
		
		<th>
			@Html.DisplayNameFor(model => model.Test.Date) =
			@Html.ViewData.Model.Test.Date
		</th>

		<th>
			@Html.DisplayNameFor(model => model.Test.CompletionTime) =
			@Html.ViewData.Model.Test.CompletionTime
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Test.NumOfQuestions) =
			@Html.ViewData.Model.Test.NumOfQuestions
		</th>

	</tr>
</table>
@using (Html.BeginForm())
{
	
	
		var i = 0;
	
	foreach(var item in Model.Questions)
	{
		i++;
		var k = 0;
		<table>

			<tr>

				<th>
					@i .
					@Html.DisplayFor(modelItem => item.Text)
				</th>

			</tr>
			<tr>
				<td>
					@foreach (var ans in item.Answers)
					{
						k++;
						<div class="mydivIn">

							@k .

							@ans.Text
							<br/>
							@Html.CheckBoxFor(modelItem => modelItem.Answers[ans.Id])

						</div>


					}
				</td>

			</tr>





		</table>
	}
	<input type="submit" class="btn btn-primary" name="submit" value="Submit" />
}