@model Web.Models.QuestionModel

@{
	ViewBag.Title = "Create new Question";
	
}

<h2>Create new Question</h2>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div>
		@Html.LabelFor(model => model.Question.Text)
		@Html.EditorFor(model => model.Question.Text)
		@Html.ValidationMessageFor(model => model.Question.Text)
	</div>

	<div>
		@Html.LabelFor(model => model.Question.Points)
		@Html.EditorFor(model => model.Question.Points)
		@Html.ValidationMessageFor(model => model.Question.Points)
	</div>

	<div>
		@Html.LabelFor(model => model.Question.OneAnswer)
		@Html.EditorFor(model => model.Question.OneAnswer)
		@Html.ValidationMessageFor(model => model.Question.OneAnswer)
	</div>
	<div>
		<strong>ThematicArea</strong>
		@Html.LabelFor(model => model.Area)
		@Html.EditorFor(model => model.Area)
		@Html.ValidationMessageFor(model => model.Area)
	</div>



	<h3>Answers</h3>


	<input type="submit" value="Add Answers" />
}
