@model List<BL.DTO.QuestionDTO>

@{
	
}

<h2>All Questions</h2>
@if (User.IsInRole("admin"))
{
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
}
<table class="table">
	<tr>
		<th>
			Question
		</th>
		<th>
			Points

		</th>

		<th>
			One Answer
		</th>
		<th>
			Thematic Area
		</th>

	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Text)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Points)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OneAnswer)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ThematicArea.Name)
			</td>

			<td>
@*				@if (User.IsInRole("admin"))*@
@*				{*@
@*					@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
@*					@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
@*				}*@
@*				@Html.ActionLink("TakeExam", "TakeTest", new { id = item.Id })*@
			</td>
		</tr>
	}

</table>